# Base de datos
POSTGRES_USER=ceviche_user
POSTGRES_PASSWORD=ceviche_pass
POSTGRES_DB=ceviche_db
DATABASE_URL=postgresql://ceviche_user:ceviche_pass@db:5432/ceviche_db

# JWT
SECRET_KEY=cambia_esto_por_una_clave_segura_en_produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Frontend
VITE_API_URL=http://localhost:8000
